---
language: node_js
node_js:
  - node
  - lts/*
cache:
  directories:
    - $HOME/.npm
before_install:
  - npm install -g npm@latest
install:
  - npm install
script:
  - npm test
  - npm run build
after_success:
  - npx codecov
deploy:
  provider: script
  skip_cleanup: true
  script:
    - npx semantic-release
  on:
    branch: master
    node: lts/*
