---
language: node_js
node_js:
  - 12
  - 10
  - 8
cache:
  directories:
    - ~/.npm
install:
  - npm install --global npm@latest
  - npm audit --production
  - npm ci
script:
  - npx commitlint-travis
  - npm run lint
  - npm test -- --coverage
  - npm run build
after_success:
  - npx codecov
deploy:
  - provider: script
    skip_cleanup: true
    script: npx semantic-release --dry-run --branch develop
    on:
      node: 12
      branch: develop
  - provider: script
    skip_cleanup: true
    script:
      - npx semantic-release --branch master
    on:
      branch: master
      node: 12
